body {
  margin: 0;
  padding: 0;
}

.menu-color {
  color: white;
}

.logo-style {
  width: 24%;
  padding-top: 45px;
  padding-bottom: 20px;
}

#background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: -70px;
  z-index: -1;
}
.main_img {
  width: 100%;
}