body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
}

/* NavBar Component */
.navbar-container {
  border-bottom: none;
  background: linear-gradient(rgba(255, 255, 255, 0.59), rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0));
}
  .NavItem:hover {
    background-color: yellow;
  }
.navbar-brand {
  margin: 0px;
}
.logo-style {
width: 60px;
}
  .logo-img {
    width:70px;
  }
.navbar-nav>li>a {
  color: #3EE7AD !important;
}
span.icon-bar {
  background-color: #3EE7AD !important;
}
.navbar-collapse {
  border: none !important;
  border-color: rgba(0, 0, 0, 0) !important;
}
.contactBtn {
  color: white;
  background-color: #3EE7AD ;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  padding: 3px 10px
}
button.navbar-toggle {
  border: 1px solid white !important;
}

/* Home Component */
.background-img {
  background-image: url('https://i.imgur.com/T9YYqKP.png?2');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
  .greeting {
  color: white;
  font-size: 2rem;
  letter-spacing: 2.2px;
  padding-top: 48vh;
  padding-left: 10vw;
  }
.name {
  font-family: 'Montserrat', sans-serif;
}
  .first-name {
    color: #3EE7AD;
    font-family: 'Libre Baskerville', serif;
    font-size: 5rem;
    letter-spacing: 4px;
  }
  .last-name {
    padding-left: 5px;
    font-family: 'Scope One', serif;
    font-size: 3rem;
    letter-spacing: 4px;
  }
.blurb1 {

}
.blurb2 {

}
.scrollDownContainer {
  text-align: center;
}
.scrollDownIcon {
  width: 130px;
}


/* Scroll Mouse Animation */
.scrollMouse {
  margin-top: -80px;
  position: absolute;
  left: 50%;
}
  .mouse {
    width: 25px;
    height: 42px;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    text-align: center;
  }
  .wheel {
    height: 6px;
    margin: 2px auto 0;
    display: block;
    width: 3px;
    background-color: white;
    border-radius: 50%;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
   -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.6s ease infinite wheel-up-down;
  }
  @-webkit-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
  }@-moz-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
  }@keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
  }
  
/* About */



/* Footer */


/* Medium Screen */
@media only screen and (max-width: 500px) {
  
}

/* Small Screen */
@media only screen and (max-width: 350px) {
  
}